<div class="${theme}">
	<div data-dojo-attach-point="_dsdToolNode">
		<div class="dialog-content">
			<div class="dsd-subheader">DSD NPO Tool</div>
			<div class="icon-container">
				<button id="_polygonButton" role="button" class="icon-polygon dsd-icon" data-dojo-attach-point="_polygonButton" title="Select Boundary">
					<span id="_polygonButtonIcon" class="esri-icon-polygon" aria-label="close icon"></span>
				</button>
				<button id="_clearButton" disabled role="button" class="icon-trash-disabled dsd-icon" data-dojo-attach-point="_clearButton" title="">
					<span id="_clearButtonIcon" class="" aria-label="close icon"></span>
				</button>
				<button id="_saveButton" disabled role="button" class="icon-save-disabled dsd-icon" data-dojo-attach-point="_saveButton" title="">
					<span id="_saveButtonIcon" class="" aria-label="close icon"></span>
				</button>
				<div class="icon-clear"></div>
			</div>
		</div>
	</div>
</div>
